Single

<div>
    <h1 ng-bind="SingleEvent.event.name"></h1>
    <tags-input ng-model="SingleEvent.tags" placeholder="Enter Email">
        <auto-complete source="SingleEvent.userEmails"></auto-complete>
    </tags-input>
    <button ng-click="SingleEvent.inviteUsers()">Add Users</button>
    <button ng-if="!SingleEvent.userIsHost()"
            ng-click="SingleEvent.leaveEvent()">Leave Event</button>
    <h2 ng-bind="SingleEvent.event.location.address"></h2>
    <h6 ng-bind="SingleEvent.event.joinToken"></h6>

    <h2>Attendees</h2>
    <div ng-repeat="user in SingleEvent.event.users">
        {{user.account.first_name}} {{user.account.last_name}}<br>
        {{user.role}}<br> <button ng-if="SingleEvent.userIsHost() && SingleEvent.notSelf(user)"
                                  ng-click="SingleEvent.removeUser(user)">Remove</button>
        -----------------------------------------------------------
    </div>
</div>
