<div class="form-group form-group-lg" >
  <label id="title" class="col-sm control-label" >Events</label>
</div>
<div ng-if="!Event.events.length">
    You are not part of any event.
</div>
<div ng-repeat="event in ::Event.events" class="c-eventCard">
    <div>
        <h4><a ui-sref="bolt.eventView({ eventId: event._id })" ng-bind="::event.name"></a></h4>
    </div>
    <div ng-bind="::event.location.address"></div>
    <div ng-bind="::event.start_date | date: 'MMM dd, yyyy h:mma'"></div>

    <div ng-bind="::'Late Fee: $' + event.late_fee"></div>
    <div ng-bind="::event.status"></div>
    <div ng-bind="::event.users.length + ' members'"></div>
    <button ng-if="event.allowCheckIn"
            ng-disabled="Event.isButtonLoading(event._id)"
            type="button" class="c-eventCard-checkIn btn btn-grey"
            ng-click="Event.checkIn(event._id)"
            ng-bind="Event.isButtonLoading(event._id) ? 'Checking in...' : 'Check in'">
    </button>
    <div ng-if="event.checked" class="c-eventCard-checkIn c-eventCard-bolt">
        <span ng-bind="event.distance"></span>
        <i class="fa fa-bolt" ng-class="{ 'success' : event.validCheckIn, 'fail': !event.validCheckIn }"></i>
    </div>
</div>
