<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl as Navbar">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Bolt</a>
        </div>
        <div class="c-authControl">
            <a ng-if="!Navbar.isLoggedIn()" ng-click="Navbar.login()" ng-bind="Navbar.loginText"></a>
            <div ng-if="Navbar.isLoggedIn()">
                <a ui-sref="bolt.createGroup">Create Group</a>
                <a ui-sref="bolt.createEvent">Create Event</a>
                <a ng-click="Navbar.logout()">Log out</a>
            </div>
        </div>
    </div>
</div>
