<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl as Navbar">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <i class="fa fa-bolt"></i>Bolt</a>
        </div>
        <div class="c-authControl">
            <div ng-if="!Navbar.isLoggedIn()">
                <a ng-click="Navbar.login()" ng-bind="Navbar.loginText"></a>
                <a ng-click="Navbar.signUp()" ng-bind="Navbar.signUpText"></a>
            </div>
            <div ng-if="Navbar.isLoggedIn()">
                <!--<a ui-sref="bolt.createGroup">Create Group</a>-->
                <a ng-click="Navbar.logout()"><i class="fa fa-sign-out"></i></a>
            </div>
        </div>
    </div>
</div>
